/* src/styles/base.css */
:root {
  --primary-color: #a6cc00;
  --secondary-color: #00a0db;
  --error-color: #dc2626;
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --border-color: #cccccc;
}

