/* src/styles/Creds.module.css */
.section {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  position: relative;
}

.section h2 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.list {
  list-style: none;
  padding: 0 ;
  margin: 0;
}

.listItem {
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;
}

.section h3 {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0 ;
}


.didUrl {
  display: block;
  font-family: monospace;
  word-break: break-all;
  margin-bottom: 0.5rem;
}

.pin {
  font-family: verdana;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
}

.pin_orange {
  font-family: verdana;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: orange;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
}